<h1>Books</h1>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to book.title, todolist_path(book.id) %>
      </td>
      <td>
        <%= link_to book.body, todolist_path(book.id) %>
      </td> 
    </tr>
    <%
=begin%>
 <%= link_to "詳細", todolist_path(@book.id) %>
    <%= link_to "編集", edit_todolist_path(@book.id) %>
    <%= link_to "削除", destroy_todolist_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>  
<%
=end%>
    <br>
  <% end %>
</table>

<br>
<h3>New book</h3>
<%= form_with model: @book, url:'/todolists', local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
